﻿@model BOG.Models.Sale

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultant.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultant.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>SaleDetails</h2>


<table class="table">
    @if (Model.SaleDetails.Count > 0)
    {
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.SaleDetails.First().SaleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.SaleDetails.First().ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.SaleDetails.First().Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.SaleDetails.First().Amount)
        </th>
        <th></th>
    </tr>
    }

    @foreach (var item in Model.SaleDetails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "SaleDetails", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "SaleDetails", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "SaleDetails", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
