﻿@model PagedList.IPagedList<BOG.Models.Sale>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchId", ViewBag.CurrentFilterId as int?) - Find by Id
    </p>
    <p>
        @Html.TextBox("searchName", ViewBag.CurrentFilterName as string) - Find by Consultant Name
    </p>
    <p>
        @Html.TextBox("searchLastName", ViewBag.CurrentFilterLastName as string) - Find by Consultant Last Name
    </p>
    <p>
        @Html.TextBox("searchConsultantId", ViewBag.CurrentFilterConsultantId as int?) - Find by Consultant Id
    </p>
    <p>
        @Html.TextBox("searchCreatedAt", ViewBag.CurrentFilterCreatedAt as DateTime?) - Find by CreatedAt
    </p>
    <input type="submit" value="Filter" />
}
<br>
@using (Html.BeginForm())
{
    <input type="submit" value="Reset" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParam })
        </th>
        <th>
            @Html.ActionLink("ConsultantId", "Index", new { sortOrder = ViewBag.ConsultantIdSortParam })
        </th>
        <th>
            @Html.ActionLink("Consultant Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Consultant LastName", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
        <th>
            @Html.ActionLink("CreatedAt", "Index", new { sortOrder = ViewBag.CreatedAtSortParam })
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultant.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { sortOrder = ViewBag.CurrentSort,
        searchName = ViewBag.CurrentFilterName,
        searchLastName = ViewBag.CurrentFilterLastName,
        searchConsultantId = ViewBag.CurrentFilterConsultantId,
        searchCreatedAt = ViewBag.CurrentFilterCreatedAt,
        page }))