﻿@model PagedList.IPagedList<BOG.Models.SearchModels.ConsultantSalesCount>
@using PagedList.Mvc;

@{
    ViewBag.Title = "SaleInfoByConsultant";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("GetSaleInfoByConsultant I", "GetSaleInfoByConsultant", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetSaleInfoByProductPrice II", "GetSaleInfoByProductPrice", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetFrequentlySaledProducts III", "GetFrequentlySaledProducts", "SaleDetailSearch")</li>
        <li class="active">@Html.ActionLink("GetConsultantsSalesCount IV", "GetConsultantsSalesCount", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetProfitableProducts V", "GetProfitableProducts", "SaleDetailSearch")</li>
    </ul>
</nav>

@using (Html.BeginForm("GetConsultantsSalesCount", "SaleDetailSearch"))
{
    <p>
        @Html.TextBox("startDate", ViewBag.SearchParameterStartDate as DateTime?, new { type = "date" }) - Filter From StartDate
    </p>
    <p>
        @Html.TextBox("endDate", ViewBag.SearchParameterEndDate as DateTime?, new { type = "date" }) -  Filter To EndDate
    </p>
    <p>
        -------------------------------------------
    </p>
    <p>
        @Html.TextBox("searchConsultantId", ViewBag.CurrentFilterConsultantId as int?) - Find by Consultant Id
    </p>
    <p>
        @Html.TextBox("searchConsultantName", ViewBag.CurrentFilterConsultantName as string) - Find by Consultant Name
    </p>
    <p>
        @Html.TextBox("searchConsultantLastName", ViewBag.CurrentFilterConsultantLastName as string) - Find by Consultant Last Name
    </p>
    <p>
        @Html.TextBox("searchConsultantPersonalid", ViewBag.CurrentFilterConsultantPersonalId as long?) - Find by  Consultant Personal Id
    </p>
    <p>
        @Html.TextBox("searchConsultantBirthDate", ViewBag.CurrentFilterConsultantBirthDate as DateTime?, new { type = "date" }) - Find by Birth Date
    </p>
    <p>
        @Html.TextBox("searchAmount", ViewBag.CurrentFilterAmount as int?) - Find by Amount
    </p>
    <p>
        @Html.TextBox("searchHierarchyAmount", ViewBag.CurrentFilterHierarchyAmount as int?) - Find by Hierarchy Amount
    </p>
    <input type="submit" value="Filter" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ConsultantId", "GetConsultantsSalesCount", new
            {
                sortOrder = ViewBag.ConsultantIdSortParam,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                searchAmount = ViewBag.CurrentFilterAmount,
                searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("ConsultantName", "GetConsultantsSalesCount", new { sortOrder = ViewBag.ConsultantNameSortParam,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate
       })
        </th>
        <th>
            @Html.ActionLink("ConsultantLastName", "GetConsultantsSalesCount", new { sortOrder = ViewBag.ConsultantLastNameSortParam ,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate
       })
        </th>
        <th>
            @Html.ActionLink("ConsultantPersonalId", "GetConsultantsSalesCount", new { sortOrder = ViewBag.ConsultantPersonalIdSortParam,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate
       })
        </th>
        <th>
            @Html.ActionLink("BirthDate", "GetConsultantsSalesCount", new
       {
           sortOrder = ViewBag.BirthDateSortParam,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate
       })
        </th>
        <th>
            @Html.ActionLink("SalesAmount", "GetConsultantsSalesCount", new { sortOrder = ViewBag.AmountSortParam,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate
       })
        </th>
        <th>
            @Html.ActionLink("HierarchySalesAmount", "GetConsultantsSalesCount", new
       {
           sortOrder = ViewBag.HierarchySalesAmountSortParam,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate
       })
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantPersonalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantBirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HierarchySalesAmount)
                </td>
                <td>
            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("GetConsultantsSalesCount", "SaleDetailSearch",
    new
    {
        sortOrder = ViewBag.CurrentSort,
        searchConsultantName = ViewBag.CurrentFilterConsultantName,
        searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
        searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
        searchAmount = ViewBag.CurrentFilterAmount,
        searchHierarchyAmount = ViewBag.CurrentFilterHierarchyAmount,
        startDate = ViewBag.SearchParameterStartDate,
        endDate = ViewBag.SearchParameterEndDate,
        page
    }))