﻿@model PagedList.IPagedList<BOG.Models.SearchModels.FrequentlySaledProduct>
@using PagedList.Mvc;

@{
    ViewBag.Title = "FrequentlySaledProduct";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("GetSaleInfoByConsultant I", "GetSaleInfoByConsultant", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetSaleInfoByProductPrice II", "GetSaleInfoByProductPrice", "SaleDetailSearch")</li>
        <li class="active">@Html.ActionLink("GetFrequentlySaledProducts III", "GetFrequentlySaledProducts", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetConsultantsSalesCount IV", "GetConsultantsSalesCount", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetProfitableProducts V", "GetProfitableProducts", "SaleDetailSearch")</li>
    </ul>
</nav>

@using (Html.BeginForm("GetFrequentlySaledProducts", "SaleDetailSearch"))
{
    <p>
        @Html.TextBox("startDate", ViewBag.SearchParameterStartDate as DateTime?, new { type = "date", required = "required" }) - Filter From StartDate
    </p>
    <p>
        @Html.TextBox("endDate", ViewBag.SearchParameterEndDate as DateTime?, new { type = "date", required = "required" }) -  Filter To EndDate
    </p>
    <p>
        @Html.TextBox("saledProductsMinAmount", ViewBag.SearchParameterStartDate as int?, new {required = "required" }) - Filter From Saled product Min Amount
    </p>
    <p>
        @Html.TextBox("productId", ViewBag.SearchParameterEndDate as int?) -  Filter To ProductId
    </p>
    <p>
        -----------------------------------------------
    </p>
    <p>
        @Html.TextBox("searchConsultantId", ViewBag.CurrentFilterConsultantId as int?) - Find by Consultant Id
    </p>
    <p>
        @Html.TextBox("searchConsultantName", ViewBag.CurrentFilterConsultantName as string) - Find by Consultant Name
    </p>
    <p>
        @Html.TextBox("searchConsultantLastName", ViewBag.CurrentFilterConsultantLastName as string) - Find by Consultant Last Name
    </p>
    <p>
        @Html.TextBox("searchConsultantPersonalid", ViewBag.CurrentFilterConsultantPersonalId as long?) - Find by  Consultant Personal Id
    </p>
    <p>
        @Html.TextBox("searchConsultantBirthDate", ViewBag.CurrentFilterConsultantBirthDate as DateTime?, new { type = "date" }) - Find by Birth Date
    </p>
    <p>
        @Html.TextBox("searchAmount", ViewBag.CurrentFilterAmount as int?) - Find by Amount
    </p>
    <input type="submit" value="Filter" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ConsultantId", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.ConsultantIdSortParam,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId })
        </th>
        <th>
            @Html.ActionLink("ConsultantName", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.ConsultantNameSortParam ,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId})
        </th>
        <th>
            @Html.ActionLink("ConsultantLastName", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.ConsultantLastNameSortParam,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId })
        </th>
        <th>
            @Html.ActionLink("ConsultantPersonalId", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.ConsultantPersonalIdSortParam,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId })
        </th>
        <th>
            @Html.ActionLink("BirthDate", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.BirthDateSortParam ,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId})
        </th>
        <th>
            @Html.ActionLink("ProductId", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.ProductIdSortParam ,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId})
        </th>
        <th>
            @Html.ActionLink("Amount", "GetFrequentlySaledProducts", new { sortOrder = ViewBag.AmountSortParam,
           searchConsultantId = ViewBag.CurrentFilterConsultantId,
           searchConsultantName = ViewBag.CurrentFilterConsultantName,
           searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
           searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
           searchAmount = ViewBag.CurrentFilterAmount,
           startDate = ViewBag.SearchParameterStartDate,
           endDate = ViewBag.SearchParameterEndDate,
           saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
           productId = ViewBag.SearchParameterProductId})
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantPersonalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantBirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductAmount)
                </td>
            </tr>
        }
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("GetFrequentlySaledProducts", "SaleDetailSearch",
    new
    {
        sortOrder = ViewBag.CurrentSort,
        searchConsultantId = ViewBag.CurrentFilterConsultantId,
        searchConsultantName = ViewBag.CurrentFilterConsultantName,
        searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
        searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
        searchAmount = ViewBag.CurrentFilterAmount,
        startDate = ViewBag.SearchParameterStartDate,
        endDate = ViewBag.SearchParameterEndDate,
        saledProductsMinAmount = ViewBag.SearchParameterSaledProductMinAmount,
        productId = ViewBag.SearchParameterProductId,
        page
    }))