﻿@model PagedList.IPagedList<BOG.Models.SearchModels.MostlySaledProduct>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SaleInfoByConsultant";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("GetSaleInfoByConsultant I", "GetSaleInfoByConsultant", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetSaleInfoByProductPrice II", "GetSaleInfoByProductPrice", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetFrequentlySaledProducts III", "GetFrequentlySaledProducts", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetConsultantsSalesCount IV", "GetConsultantsSalesCount", "SaleDetailSearch")</li>
        <li class="active">@Html.ActionLink("GetProfitableProducts V", "GetProfitableProducts", "SaleDetailSearch")</li>
    </ul>
</nav>

@using (Html.BeginForm("GetProfitableProducts", "SaleDetailSearch"))
{
    <p>
        @Html.TextBox("startDate", ViewBag.SearchParameterStartDate as DateTime?, new { type = "date"}) - Filter From StartDate
    </p>
    <p>
        @Html.TextBox("endDate", ViewBag.SearchParameterEndDate as DateTime?, new { type = "date" }) -  Filter To EndDate
    </p>
    <p>
            ----------------------------------------
    </p>
    <p>
        @Html.TextBox("searchConsultantId", ViewBag.CurrentFilterConsultantId as int?) - Find by Consultant Id
    </p>
    <p>
        @Html.TextBox("searchConsultantName", ViewBag.CurrentFilterConsultantName as string) - Find by Consultant Name
    </p>
    <p>
        @Html.TextBox("searchConsultantLastName", ViewBag.CurrentFilterConsultantLastName as string) - Find by Consultant Last Name
    </p>
    <p>
        @Html.TextBox("searchConsultantPersonalid", ViewBag.CurrentFilterConsultantPersonalId as long?) - Find by  Consultant Personal Id
    </p>
    <p>
        @Html.TextBox("searchConsultantBirthDate", ViewBag.CurrentFilterConsultantBirthDate as DateTime?, new { type = "date" }) - Find by Birth Date
    </p>
    <p>
        @Html.TextBox("searchMaxSaledProductId", ViewBag.CurrentFilterMaxSaledProductId as long?) - Find by Max Saled Product Id
    </p>
    <p>
        @Html.TextBox("searchMaxSaledProductName", ViewBag.CurrentFilterMaxSaledProductName as string) - Find by Max Saled Product Name
    </p>
    <p>
         @Html.TextBox("searchMaxSaledProductAmount", ViewBag.CurrentFilterMaxSaledProductAmount as int?) - Find by Max Saled Product Amount
    </p>
    <p>
        @Html.TextBox("searchMaxProfitProductId", ViewBag.CurrentFilterMaxProfitProductId as long?) - Find by Max Profit Product Id
    </p>
    <p>
        @Html.TextBox("searchMaxProfitProductName", ViewBag.CurrentFilterMaxProfitProductName as string) - Find by Max Profit Product Name
    </p>
    <p>
        @Html.TextBox("searchMaxProfitSum", ViewBag.CurrentFilterMaxProfitSum as decimal?) - Find by Max Profit Total Sum
    </p>
    <input type="submit" value="Filter" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ConsultantId", "GetProfitableProducts", new { sortOrder = ViewBag.ConsultantIdSortParam,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate })
        </th>
        <th>
            @Html.ActionLink("Name", "GetProfitableProducts", new { sortOrder = ViewBag.ConsultantNameSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("LastName", "GetProfitableProducts", new { sortOrder = ViewBag.ConsultantLastNameSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("PersonalId", "GetProfitableProducts", new { sortOrder = ViewBag.ConsultantPersonalIdSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("BirthDate", "GetProfitableProducts", new { sortOrder = ViewBag.BirthDateSortParam,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate })
        </th>
        <th>
            @Html.ActionLink("MaxSaledProductId", "GetProfitableProducts", new { sortOrder = ViewBag.MaxSaledProductIdSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("Name", "GetProfitableProducts", new { sortOrder = ViewBag.MaxSaledProductNameSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("Amount", "GetProfitableProducts", new { sortOrder = ViewBag.MaxSaledProductAmountSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("MaxProfitProductId", "GetProfitableProducts", new { sortOrder = ViewBag.MaxProfitProductIdSortParam ,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate})
        </th>
        <th>
            @Html.ActionLink("Name", "GetProfitableProducts", new { sortOrder = ViewBag.MaxProfitProductNameSortParam,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate })
        </th>
        <th>
            @Html.ActionLink("Sum", "GetProfitableProducts", new { sortOrder = ViewBag.MaxProfitSumSortParam,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
                startDate = ViewBag.SearchParameterStartDate,
                searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
                searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
                searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
                searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
                searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
                searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
                endDate = ViewBag.SearchParameterEndDate })
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantPersonalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultantBirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSaledProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSaledProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSaledProductAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxProfitProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxProfitProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxProfitTotalSum)
                </td>

            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("GetProfitableProducts", "SaleDetailSearch",
    new
    {
        sortOrder = ViewBag.CurrentSort,
        searchConsultantName = ViewBag.CurrentFilterConsultantName,
        searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
        searchConsultantBirthDate = ViewBag.CurrentFilterConsultantBirthDate,
        startDate = ViewBag.SearchParameterStartDate,
        searchMaxSaledProductId = ViewBag.CurrentFilterMaxSaledProductId,
        searchMaxSaledProductName = ViewBag.CurrentFilterMaxSaledProductName,
        searchMaxSaledProductAmount = ViewBag.CurrentFilterMaxSaledProductAmount,
        searchMaxProfitProductId = ViewBag.CurrentFilterMaxProfitProductId,
        searchMaxProfitProductName = ViewBag.CurrentFilterMaxProfitProductName,
        searchMaxProfitSum = ViewBag.CurrentFilterMaxProfitSum,
        endDate = ViewBag.SearchParameterEndDate,
        page
    }))