﻿@model PagedList.IPagedList<BOG.Models.SearchModels.SaleInfoByConsultant>
@using PagedList.Mvc;

@{
    ViewBag.Title = "SaleInfoByConsultant";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="active">@Html.ActionLink("GetSaleInfoByConsultant I", "GetSaleInfoByConsultant", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetSaleInfoByProductPrice II", "GetSaleInfoByProductPrice", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetFrequentlySaledProducts III", "GetFrequentlySaledProducts", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetConsultantsSalesCount IV", "GetConsultantsSalesCount", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetProfitableProducts V", "GetProfitableProducts", "SaleDetailSearch")</li>
    </ul>
</nav>

@using (Html.BeginForm("GetSaleInfoByConsultant", "SaleDetailSearch"))
{
    <p>
        @Html.TextBox("startDate", ViewBag.SearchParameterStartDate as DateTime?, new { type = "date", required = "required" }) - Filter From StartDate
    </p>
    <p>
        @Html.TextBox("endDate", ViewBag.SearchParameterEndDate as DateTime?, new { type = "date", required = "required" }) -  Filter To EndDate
    </p>
    <p>
        -----------------------------------------------
    </p>
    <p>
        @Html.TextBox("searchConsultantId", ViewBag.CurrentFilterConsultantId as int?) - Find by Consultant Id
    </p>
    <p>
        @Html.TextBox("searchConsultantName", ViewBag.CurrentFilterConsultantName as string) - Find by Consultant Name
    </p>
    <p>
        @Html.TextBox("searchConsultantLastName", ViewBag.CurrentFilterConsultantLastName as string) - Find by Consultant Last Name
    </p>
    <p>
        @Html.TextBox("searchConsultantPersonalid", ViewBag.CurrentFilterConsultantPersonalId as long?) - Find by  Consultant Personal Id
    </p>
    <p>
        @Html.TextBox("searchTotalPrice", ViewBag.CurrentFilterTotalPrice as int?) - Find by Total Price
    </p>
    <p>
        @Html.TextBox("searchSaleId", ViewBag.CurrentFilterSaleId as long?) - Find by Sale Id
    </p>
    <p>
        @Html.TextBox("searchProductAmount", ViewBag.CurrentFilterProductAmount as int?) - Find by Total Price
    </p>
    <input type="submit" value="Filter" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ConsultantId", "GetSaleInfoByConsultant",
                                                                            new
                                                                            {
                                                                                sortOrder = ViewBag.ConsultantIdSortParam,
                                                                                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                                searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                                startDate = ViewBag.SearchParameterStartDate,
                                                                                endDate = ViewBag.SearchParameterEndDate
                                                                            })
        </th>
        <th>
            @Html.ActionLink("ConsultantName", "GetSaleInfoByConsultant",
                                                                              new
                                                                              {
                                                                                  sortOrder = ViewBag.ConsultantNameSortParam,
                                                                                  searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                                  searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                                  searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                                  searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                                  searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                                  searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                                  startDate = ViewBag.SearchParameterStartDate,
                                                                                  endDate = ViewBag.SearchParameterEndDate
                                                                              })
        </th>
        <th>
            @Html.ActionLink("ConsultantLastName", "GetSaleInfoByConsultant",
                                                                                  new
                                                                                  {
                                                                                      sortOrder = ViewBag.ConsultantLastNameSortParam,
                                                                                      searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                                      searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                                      searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                                      searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                                      searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                                      searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                                      startDate = ViewBag.SearchParameterStartDate,
                                                                                      endDate = ViewBag.SearchParameterEndDate
                                                                                  })
        </th>
        <th>
            @Html.ActionLink("ConsultantPersonalId", "GetSaleInfoByConsultant",
                                                                                    new
                                                                                    {
                                                                                        sortOrder = ViewBag.ConsultantPersonalIdSortParam,
                                                                                        searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                                        searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                                        searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                                        searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                                        searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                                        searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                                        startDate = ViewBag.SearchParameterStartDate,
                                                                                        endDate = ViewBag.SearchParameterEndDate
                                                                                    })
        </th>
        <th>
            @Html.ActionLink("SaleId", "GetSaleInfoByConsultant",
                                                                      new
                                                                      {
                                                                          sortOrder = ViewBag.SaleIdSortParam,
                                                                          searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                          searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                          searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                          searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                          searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                          searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                          startDate = ViewBag.SearchParameterStartDate,
                                                                          endDate = ViewBag.SearchParameterEndDate
                                                                      })
        </th>
        <th>
            @Html.ActionLink("SalesDate", "GetSaleInfoByConsultant",
            new
            {
            sortOrder = ViewBag.SaleDateSortParam,
            searchConsultantId = ViewBag.CurrentFilterConsultantId,
            searchConsultantName = ViewBag.CurrentFilterConsultantName,
            searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
            searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
            searchProductAmount = ViewBag.CurrentFilterProductAmount,
            searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
            startDate = ViewBag.SearchParameterStartDate,
            endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("ProductAmount", "GetSaleInfoByConsultant",
                                                                             new
                                                                             {
                                                                                 sortOrder = ViewBag.AmountSortParam,
                                                                                 searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                                 searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                                 searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                                 searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                                 searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                                 searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                                 startDate = ViewBag.SearchParameterStartDate,
                                                                                 endDate = ViewBag.SearchParameterEndDate
                                                                             })
        </th>
        <th>
            @Html.ActionLink("TotalPrice", "GetSaleInfoByConsultant",
                                                                           new
                                                                           {
                                                                               sortOrder = ViewBag.TotalPriceSortParam,
                                                                               searchConsultantId = ViewBag.CurrentFilterConsultantId,
                                                                               searchConsultantName = ViewBag.CurrentFilterConsultantName,
                                                                               searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                                                                               searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                                                                               searchProductAmount = ViewBag.CurrentFilterProductAmount,
                                                                               searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
                                                                               startDate = ViewBag.SearchParameterStartDate,
                                                                               endDate = ViewBag.SearchParameterEndDate
                                                                           })
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantPersonalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
    </tr>
        }
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("GetSaleInfoByConsultant", "SaleDetailSearch",
    new
    {
        sortOrder = ViewBag.CurrentSort,
        searchConsultantId = ViewBag.CurrentFilterConsultantId,
        searchConsultantName = ViewBag.CurrentFilterConsultantName,
        searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
        searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
        searchProductAmount = ViewBag.CurrentFilterProductAmount,
        searchTotalPrice = ViewBag.CurrentFilterTotalPrice,
        startDate = ViewBag.SearchParameterStartDate,
        endDate = ViewBag.SearchParameterEndDate,
        page
    }))