﻿@model PagedList.IPagedList<BOG.Models.SearchModels.SaleInfoByProductPrice>
@using PagedList.Mvc;

@{
    ViewBag.Title = "SaleInfoByProductPrice";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("GetSaleInfoByConsultant I", "GetSaleInfoByConsultant", "SaleDetailSearch")</li>
        <li class="active">@Html.ActionLink("GetSaleInfoByProductPrice II", "GetSaleInfoByProductPrice", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetFrequentlySaledProducts III", "GetFrequentlySaledProducts", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetConsultantsSalesCount IV", "GetConsultantsSalesCount", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetProfitableProducts V", "GetProfitableProducts", "SaleDetailSearch")</li>
    </ul>
</nav>

@using (Html.BeginForm("GetSaleInfoByProductPrice", "SaleDetailSearch"))
{
    <p>
        @Html.TextBox("startDate", ViewBag.SearchParameterStartDate as DateTime?, new { type = "date", required = "required" }) - Filter From Sales  Start Date
    </p>
    <p>
        @Html.TextBox("endDate", ViewBag.SearchParameterEndDate as DateTime?, new { type = "date", required = "required" }) -  Filter To Sales End Date
    </p>
    <p>
        @Html.TextBox("minPrice", ViewBag.SearchParameterMinPrice as int?, new { required = "required" }) -  Filter from Min Price
    </p>
    <p>
        @Html.TextBox("maxPrice", ViewBag.SearchParameterMaxPrice as int?, new { required = "required" }) -  Filter To Max Price
    </p>
    <p>
        -----------------------------------------------
    </p>
    <p>
        @Html.TextBox("searchConsultantId", ViewBag.CurrentFilterConsultantId as int?) - Find by Consultant Id
    </p>
    <p>
        @Html.TextBox("searchConsultantName", ViewBag.CurrentFilterConsultantName as string) - Find by Consultant Name
    </p>
    <p>
        @Html.TextBox("searchConsultantLastName", ViewBag.CurrentFilterConsultantLastName as string) - Find by Consultant Last Name
    </p>
    <p>
        @Html.TextBox("searchConsultantPersonalid", ViewBag.CurrentFilterConsultantPersonalId as long?) - Find by  Consultant Personal Id
    </p>
    <p>
        @Html.TextBox("searchProductAmount", ViewBag.CurrentFilterProductAmount as int?) - Find by Product Amount
    </p>
    <input type="submit" value="Filter" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ConsultantId", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.ConsultantIdSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("ConsultantName", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.ConsultantNameSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("ConsultantLastName", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.ConsultantLastNameSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("ConsultantPersonalId", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.ConsultantPersonalIdSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("SaleId", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.SaleIdSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("ProductAmount", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.AmountSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th>
            @Html.ActionLink("SalesDate", "GetSaleInfoByProductPrice", new
            {
                sortOrder = ViewBag.SaleDateSortParam,
                searchConsultantId = ViewBag.CurrentFilterConsultantId,
                searchConsultantName = ViewBag.CurrentFilterConsultantName,
                searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
                searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
                searchProductAmount = ViewBag.CurrentFilterProductAmount,
                searchSaleId = ViewBag.CurrentFilterSaleId,
                minPrice = ViewBag.SearchParameterMinPrice,
                maxPrice =  ViewBag.SearchParameterMaxPrice,
                startDate = ViewBag.SearchParameterStartDate,
                endDate = ViewBag.SearchParameterEndDate
            })
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantPersonalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
    </tr>
        }
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("GetSaleInfoByProductPrice", "SaleDetailSearch",
    new
    {
        sortOrder = ViewBag.CurrentSort,
        searchConsultantId = ViewBag.CurrentFilterConsultantId,
        searchConsultantName = ViewBag.CurrentFilterConsultantName,
        searchConsultantLastName = ViewBag.CurrentFilterConsultantLastName,
        searchConsultantPersonalid = ViewBag.CurrentFilterConsultantPersonalId,
        searchProductAmount = ViewBag.CurrentFilterProductAmount,
        searchSaleId = ViewBag.CurrentFilterSaleId,
        minPrice = ViewBag.SearchParameterMinPrice,
        maxPrice =  ViewBag.SearchParameterMaxPrice,
        startDate = ViewBag.SearchParameterStartDate,
        endDate = ViewBag.SearchParameterEndDate,
        page
    }))