﻿@model IEnumerable<BOG.Models.SearchModels.SaleInfoByProductPrice>

@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("GetSaleInfoByConsultant I", "GetSaleInfoByConsultant", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetSaleInfoByProductPrice II", "GetSaleInfoByProductPrice", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetFrequentlySaledProducts III", "GetFrequentlySaledProducts", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetConsultantsSalesCount IV", "GetConsultantsSalesCount", "SaleDetailSearch")</li>
        <li>@Html.ActionLink("GetProfitableProducts V", "GetProfitableProducts", "SaleDetailSearch")</li>
    </ul>
</nav>