﻿@model BOG.Models.Consultant

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Consultant</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecomendatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecomendatorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<table class="table">
    @if (Model.Sales.Count > 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Sales.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Sales.First().CreatedAt)
            </th>
            <th></th>
        </tr>
    }

    @foreach (var item in Model.Sales)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Sales", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Sales", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Sales", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>