﻿@model PagedList.IPagedList<BOG.Models.Consultant>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchId", ViewBag.CurrentFilterId as int?) - Find by Id
    </p>
    <p>
        @Html.TextBox("searchName", ViewBag.CurrentFilterName as string) - Find by Name
    </p>
    <p>
        @Html.TextBox("searchLastName", ViewBag.CurrentFilterLastName as string) - Find by Last Name
    </p>
    <p>
        @Html.TextBox("SearchPersonalId", ViewBag.CurrentFilterPersonalId as long?) - Find by Personal Id
    </p>
    <p>
        @Html.TextBox("SearchRecomendatorId", ViewBag.CurrentFilterRecomendatorId as int?) - Find by Recomendator Id
    </p>
    <p>
        @Html.TextBox("SearchBirthDate", ViewBag.CurrentFilterBirthDate as DateTime?) - Find by Birth Date
    </p>
    <input type="submit" value="Filter" />
}
<br>
@using (Html.BeginForm())
{
    <input type="submit" value="Reset" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParam })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("LastName", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
        <th>
            @Html.ActionLink("PersonalId", "Index", new { sortOrder = ViewBag.PersonalIdSortParam })
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new { sortOrder = ViewBag.GenderSortParam })
        </th>
        <th>
            @Html.ActionLink("BirthDate", "Index", new { sortOrder = ViewBag.BirthDateSortParam })
        </th>
        <th>
            @Html.ActionLink("RecomendatorId", "Index", new { sortOrder = ViewBag.RecomendatorIdSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecomendatorId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new
                    {
                        sortOrder = ViewBag.CurrentSort,
                        searchName = ViewBag.CurrentFilterName,
                        searchLastName = ViewBag.CurrentFilterLastName,
                        searchRecomendatorId = ViewBag.CurrentFilterRecomendatorId,
                        searchBirthDate = ViewBag.CurrentFilterBirthDate,
                        page
                    }))