﻿@model PagedList.IPagedList<BOG.Models.SaleDetail>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchId", ViewBag.CurrentFilterId as long?) - Find by Id
    </p>
    <p>
        @Html.TextBox("searchName", ViewBag.CurrentFilterName as string) - Find by Product Name
    </p>
    <p>
        @Html.TextBox("searchProductId", ViewBag.CurrentFilterProductId as long?) - Find by ProductId
    </p>
    <p>
        @Html.TextBox("searchSaleId", ViewBag.CurrentFilterSaleId as long?) - Find by Sale Id
    </p>
    <p>
        @Html.TextBox("searchAmount", ViewBag.CurrentFilterAmount as int?) - Find by Amount
    </p>
    <input type="submit" value="Filter" />
}
<br>
@using (Html.BeginForm())
{
    <input type="submit" value="Reset" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParam })
        </th>
        <th>
            @Html.ActionLink("SaleId", "Index", new { sortOrder = ViewBag.SaleIdSortParam })
        </th>
        <th>
            @Html.ActionLink("ProductId", "Index", new { sortOrder = ViewBag.ProductIdSortParam })
        </th>
        <th>
            @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParam })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { sortOrder = ViewBag.CurrentSort,
        searchName = ViewBag.CurrentFilterName,
        searchProductId = ViewBag.CurrentFilterProductId,
        searchSaleId = ViewBag.CurrentFilterSaleId,
        searchAmount = ViewBag.CurrentFilterAmount,
        page }))