﻿@model PagedList.IPagedList<BOG.Models.SearchModels.ConsultantSalesCount>
@using PagedList.Mvc

<table class="table-responsive table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>PersonalId</th>
            <th>BirthDate</th>
            <th>SalesAmount</th>
            <th>HierarchySalesAmount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var cricketer in Model)
            {
                <tr>
                    <td>@cricketer.ConsultantId</td>
                    <td>@cricketer.ConsultantName</td>
                    <td>@cricketer.ConsultantLastName</td>
                    <td>@cricketer.ConsultantPersonalId</td>
                    <td>@cricketer.BirthDate</td>
                    <td>@cricketer.SalesAmount</td>
                    <td>@cricketer.HierarchySalesAmount</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    No Data Found
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.TotalItemCount > Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"]))  
{  
    <div class="pagingBox">  
        <input id="HiddenPageSize" name="PageSize" type="hidden" />  
        <input id="HiddenPage" name="Page" type="hidden" />  
        <span class="selectBoxes display_none_mobile">  
            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 } }, "Key", "Value", Convert.ToString(ViewBag.PageSize)), new { id = "pagesizelist" })  
        </span>  
        <div class="pagerecord display_none_mobile">  
            Records  
  
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount  
        </div>  
  
        <!--Grid / Page navigations goes here-->
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("GetConsultantsSalesCount", "SaleDetailSearch", 
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>  
      
    <div id="divProcessing" class="processingButton" style="display: none;">  
        <img width="31" height="31" alt="" class="LoadingImage" src="~/Images/ajax-loader-round.gif" />  
    </div>  
} 