﻿@model ListConsultantSales

@using BOG.Models.SearchModels
@using PagedList;
@{
    ViewBag.Title = "BestCricketers";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@using (Ajax.BeginForm("GetConsultantsSalesCount", "SaleDetailSearch", null, new AjaxOptions() { LoadingElementId = "", HttpMethod = "Get"}))
{
    <div>
        <div id="CricketersGrid">
            @Html.Partial("~/Views/TestPartial.cshtml", new StaticPagedList<BOG.Models.SearchModels.ConsultantSalesCount>(Model.Count, Convert.ToInt32(ViewBag.PageNumber), Convert.ToInt32(ViewBag.PageSize), Model.Count.Count > 0 ? Model.Count.First().TotalCount : 0))
        </div>
    </div>
} 